<a href="https://colab.research.google.com/github/jicksy/python-reference/blob/master/Udacity_DAND_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This notebook is part of my learning from Data Analyst Nano Degree by Udacity. Please refer [this link](https://in.udacity.com/course/data-analyst-nanodegree--nd002) for more information. **

1. Numbers and Strings
2. Functions, Installation and Conditionals
3. Data Structures and Loops
4. Files and Modules
5. Wikipedia Web Crawl Case Study
6. Exceptions and Objects

**Arithmetic Operators**

The symbols for addition and subtraction in Python are the usual ones, `+` and `-`, multiplication is asterisk `*` (watch out, it’s not `x`) and division is forward slash `/`. Brackets for mathematics are the curved parentheses `(` and `)`. You’ll also see parentheses around the content of the call to `print` that we used to show the answer to our calculation.

In [0]:
# Addition
print('Addition:', 3+1)

print(1 + 2 + 3 * 3)
print((1 + 2 + 3) * 3)

Addition: 4
12
18

This is proof that parentheses matter!

We can go beyond the basics, too. You can raise one number to the power of another with two asterisks `**`.

Note: There is another operator that is sometimes mistaken for the exponentiation operator, the caret: `^`. This is not for exponentiation as some programmers expect. Instead it performs a more obscure operation called [bitwise xor](https://en.wikipedia.org/wiki/Bitwise_operation#XOR). If you're accustomed to using the caret for exponents you might accidentally write incorrect code that produces confusing results!

Another useful operation is given by the `%` - it’s the modulo operation. It gives the remainder after you’ve divided the first number by the second.

In [0]:
print('Raised to power:', 3**2)

Raised to power: 9

In [0]:
print('Modulo Operation:', 9 % 2)

Modulo Operation: 1

You might also find use for integer division, denoted by `//`. It divides one integer by another, but rather than giving the exact answer it rounds the answer down to an integer. (Note: it rounds down even if the answer is negative.)

In [0]:
print(15 // 4)
print(16 // 4)
print(-5//4) # It rounds down even if the answer is negative

3
4
-2

**Quiz: Average Electricity Bill**

It's time to try a calculation in Python!

My electricity bills for the last three months have been `$23, $32 and $64`. What is the average monthly electricity bill over the three month period? Write an expression to calculate the average, and use `print()` to view the result and to get it graded.

In [0]:
# Write an expression that calculates the average of 23, 32 and 64.
# Place the expression in this print statement.

print('Average:', (23 + 32 + 64) / 3)

Average: 39.666666666666664

**Arithmetic And Whitespace**

One thing you might have noticed is that in a single line of Python, whitespace doesn’t really affect how your code works. For example,

In [0]:
print(4+5)
# will give exactly the same output as

print (                 4+  5)

9
9

However, that doesn’t mean that these things are equally good. Here are some useful guidelines:

* When you call a function like print, put the opening parenthesis straight after the name of the function like in` print(8)`.
* Don’t put extra spaces inside the parentheses either, it should be `print(3*7)`.
* If you are mixing operators with different priorities (like multiplication and subtraction), then you might like to add a space around the lower priority (in this case addition and subtraction) operator in order to make the code easier to read. For example, `1 + 2*3`.
* Don't write extremely long lines of code; they're hard to understand. People commonly limit themselves to lines that are 79 or 99 characters long. If you feel that you need to write longer lines, consider rewriting and simplifying your code.
These conventions come from the Python Developer's Guide, which has a Style Guide called[ PEP 8](https://www.python.org/dev/peps/pep-0008/). Don't worry if you don't understand all of the content of PEP 8 right now.

Why is this important? Although how you format the code doesn’t affect how it runs, it affects how it reads. Following standard guidelines on code style help make a lot of code easier to read. So it’s a good idea to follow the guidelines, even with one-line expressions, it’ll help you write readable code in the long run. Each time you learn something new it will be useful to refer back to PEP 8 to get your Python style right.

**Quiz: Calculate And Format**

In this quiz you're going to do some calculations for a tiler. Two parts of a floor need tiling. One part is **9 tiles wide by 7 tiles long**, the other is **5 tiles wide by 7 tiles long**. Tiles come in packages of 6.

1. How many tiles are needed?
2. You buy 17 packages of tiles containing 6 tiles each. How many tiles will be left over?

Remember to following the formatting guidelines above as you write your code.

In [0]:
# Fill this in with an expression that calculates how many tiles are needed.
print(9*7 + 5*7)

# Fill this in with an expression that calculates how many tiles will be left over.
print(17*6 - (9*7 + 5*7))

98
4

**Integers and Floats**

So far all of the numerical examples we’ve seen have been whole numbers: integers. But other numbers do exist in Python, and we need to be able to calculate with them and construct them.

In [0]:
print(3/4)

0.75

Here dividing one integer by another gives us a number that isn't an integer, 0.75. In Python (and computing in general) we represent such a number as a float, which is short for floating-point number.

Even if one integer divides another exactly, the result will be a float.

In [0]:
print(16/4)

4.0

An operation involving an int and a float produces a float.

In [0]:
print(3 + 2.5)

5.5

To make an int, just give a whole number without a decimal point. Here is an int:

In [0]:
387

387

To make a float, include a decimal point! If the number itself is actually a whole number, that’s OK: you don’t even have to put anything AFTER the decimal point. Here are a couple of floats:

In [0]:
213.13
341.

341.0

Sometimes you might need to manually convert one numeric type to another, and you can do that by constructing new objects of those types with `int()` and `float()`.

In [0]:
print(int(49.7))
print(int(16/4))
print(float(3520+3239))

49
4
6759.0

When we convert a float to an int, the part of the number after the decimal point is cut off.

So we’ve seen Python’s two main numeric **types** - integer (int) and floating-point number (float). What are they good for?

* int - there are many times when you might need to count items, or need to rely on the result of a computation being an integer. The int type is great for this.
* float - if what you’re working on isn’t necessarily a whole number, a float is the type you’re looking for!
Floating-point numbers are **approximations** of the numbers they are supposed to represent. This is necessary because floats can represent an enormous range of numbers, so in order to fit numbers in computer memory, Python must use approximations. This tradeoff can sometimes have surprising results:

In [0]:
print(0.1)
print(0.1 + 0.1 + 0.1)

0.1
0.30000000000000004

Because the float (i.e. the approximation) for 0.1 is actually slightly more than 0.1, when we add several of them together we can see the difference between the mathematically correct answer and the one that Python creates. In most contexts these small differences are irrelevant, but it's important to know that they're there!

The Python documentation explains more about this: https://docs.python.org/3/tutorial/floatingpoint.html

**Variables I**

Doing arithmetic was OK, but using variables turns Python into more than just a calculator.

In this portion of the lesson we are going to learn about variables. We will look at the population of Manila (the capital of the Philippines), and we are going to do some calculations with it. We are going to accomplish that using variables. Using variables (as opposed to doing calculations on raw numbers) has many advantages, including the ability to account for changes more efficiently, as we will see later on. Let's get started!

Creating a new variable in Python is simple; here’s one which stores the population of Manila.

In [0]:
manila_pop = 1780148

The variable name in this example is `manila_pop`. The equals sign, `=,` is the assignment operator. The value of the variable `manila_pop` is `1780148`.

**Assigning And Printing Variables**

The order of this assignment expression is VERY important! It always goes in that same order, variable name = value. The variable_name on the left is now a name for the value given by the expression on the right. The assignment operator = assigns the value on the right to the variable name on the left. (Note how this is different from writing expressions in mathematics, where x=y is equivalent to y=x)

Notice that there’s no keyword for variable assignment in Python as there is in some languages, and there’s no need to specify the type of the value - just go ahead and use an equals sign to assign a variable.

If you want to access that value, you can just use the name of the variable. You could, for example, print it out to the screen:

In [0]:
print(manila_pop)

1780148

When you’re naming variables there are a few things you have to watch out for:

* There are some reserved words that you cannot use for names - things like False and class which have important purposes in Python. You can find a list here: https://docs.python.org/3/reference/lexical_analysis.html#keywords . Trying to assign a value to one of these will give you a SyntaxError.
* Use only ordinary letters, numbers and underscores in your variable names. Start variable names with a letter or an underscore.
* It would be a bad idea to use any of the built-in identifiers for names, though this won’t immediately cause an error. For example, assigning a value to int will not cause errors when you make the assignment, but will be really problematic you want to convert something to an int later on.
* It’s best to use variable names that are English words and describe what they are for as far as possible. Use underscores to separate words if you want a multiple-word variable. For example, `coconut_counter = 2`.



**Assigning A Variable Again!**

We already set `manila_pop` variable as the population of Manila, 1780148. What if the population of Manila changes, can we update the population data? The population is now up to 1781573. We can update Python by assigning a new value to that same variable name, which will change the value.

In [0]:
manila_pop = 1781573
print(manila_pop)

1781573

The old data has been forgotten, replaced by the new value of `manila_pop`.

We can also do this in another way, using Python to update the value. Perhaps we find out that 1675 people moved to the city and 250 moved away. We can do the calculation in Python to find the new value and assign it to the variable in one step.

In [0]:
manila_pop = manila_pop + 1675 - 250
print(manila_pop)

1782998

This assignment, `manila_pop = manila_pop + 1675 - 250`, looks totally wrong if we were doing mathematics, because the variable name manila_pop is on both sides of the equals sign! But it works in Python code because equals sign = is for assignment in Python.

**Reassignment Operators**

Because this kind of increment and re-assign operation is very common, Python includes special operators for it:

In [0]:
manila_pop += 1675 # increase the value of manila_pop by 1675
manila_pop -= 250 # decrease the value of manila_pop by 250
manila_pop *= 0.9 # decrease the value of manila_pop by 10%
manila_pop /=  2 # approximate the female population of Manila

`manila_pop += 1675 `is an abbreviated way of writing, `manila_pop = manila_pop + 1675`. The other reassignment operators follow the same pattern.

**Quiz: Assign and Modify Variables**

Now it's your turn to work with variables. The comments in this quiz (the lines that begin with #) have instructions for creating and modifying variables. After each comment write a line of code that implements the instruction.

Note that this code uses [scientific notation](https://en.wikipedia.org/wiki/Scientific_notation) to define large numbers. 4.445e8 is equal to 4.445 * 10 ** 8 which is equal to 444500000.0.

In [30]:
# The current volume of a water reservoir (in cubic metres)
reservoir_volume = 4.445e8
# The amount of rainfall from a storm (in cubic metres)
rainfall = 5e6

# decrease the rainfall variable by 10% to account for runoff
rainfall *= 0.90

# add the rainfall variable to the reservoir_volume variable
reservoir_volume += rainfall

# increase reservoir_volume by 5% to account for stormwater that flows
# into the reservoir in the days following the storm
reservoir_volume *= 1.05

# decrease reservoir_volume by 5% to account for evaporation
reservoir_volume *= 0.95

# subtract 2.5e5 cubic metres from reservoir_volume to account for water
# that's piped to arid regions.
reservoir_volume -= 2.5 * 10 ** 5 #2.5e5

# print the new value of the reservoir_volume variable
print(reservoir_volume)

447627500.0

**Multiple assignment**

It is also possible to assign two variables on a single line:

In [0]:
#These two assignments can be abbreviated
savings = 514.86
salary = 320.51

#Using multiple assignment
savings, salary = 514.86, 320.51

**Booleans and Comparison Operators**

We've seen two types of value so far, ints and floats, and we've used arithmetic operators like + and ** to work with these values. Another type is bool which is used to represent the values True and False. "bool" is an abbreviation of "boolean". [Boolean Algebra](https://en.wikipedia.org/wiki/Boolean_algebra) is a branch of algebra dealing with variables whose values are True or False. Boolean Algebra is named for its inventor [George Boole](https://en.wikipedia.org/wiki/George_Boole).

We can assign boolean values like this:

In [0]:
the_sun_is_up = True
the_sky_is_blue = False

This isn't very useful on its own though. We can use comparison operators like < and > to compare values and produce a boolean result:

In [33]:
print(1 < 2)
print(42 > 43)

True
False

These are the comparison operators:

**Operator Name	|Symbol**

* less than	<
* greater than	>
* less than or equal to	<=
* greater than or equal to	>=
* equal to	==
* not equal to	!=

**Quiz: Which is denser, Rio or San Francisco?**

Try comparison operators in this quiz! This code calculates the population densities of Rio de Janeiro and San Francisco.

Write code to compare these densities. Is San Francisco denser than Rio de Janeiro? Print True if it is and False if not.

In [34]:
sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682, 486.5

san_francisco_pop_density = sf_population/sf_area
rio_de_janeiro_pop_density = rio_population/rio_area

# Write code that prints True if San Francisco is denser than Rio, and False otherwise
print(san_francisco_pop_density > rio_de_janeiro_pop_density)

False

**Strings and Text**

Programming involves more than just numbers and arithmetic, and sometimes you’ll need to deal with text. To work with text in Python you will need to use a string - which is just a series of characters. A string is the type that holds text.

**Note:** If you have written code before, most likely the concept of strings is not new to you. Unless you are specifically familiar with strings in Python you will likely still benefit from this portion of the lesson, as strings in different programming languages behave differently.

You can create a string by using quotes - single or double quotes work equally well.

In [36]:
print("hello") #used double-quotes here
print('hello') #used single-quotes on this one

hello
hello

In each case, I printed the string "hello" and got the output hello.

I can set a variable to be a string in the same way as a number. Strings can include any characters: even spaces, punctuation and numbers.

In [37]:
welcome_message = "Hello, welcome to Udacity!"
print(welcome_message)

Hello, welcome to Udacity!

Strings are not numbers, but there are some operations that worked for integers and floats that will also work for strings. For example, we can use the + to put strings together - we call this to concatenate strings.

In [38]:
instructor_1 = "Philip"
instructor_2 = "Charlie"
print(instructor_1 + instructor_2)

PhilipCharlie

There are variables with the names of both of the instructors. We used the + to concatenate the two strings together to print. This is fundamentally different from numerical addition! However, notice that the two names have been squished together - we’re missing a space. Python is completely literal when working with strings - we need to explicitly include spaces and punctuation if we want what we write to make sense.

In [39]:
instructor_1 = "Philip"
instructor_2 = "Charlie"
print(instructor_1 + " and " + instructor_2)

Philip and Charlie

This time we got a string that makes sense, putting the two instructors together. Notice that the joining string used has a space before and after the and in order to give proper spacing.

So, using + to operate on strings seems to work. Let’s try another mathematical operation:

In [40]:
print(instructor_1 / instructor_2)

TypeError: ignored

OK - here’s a new kind of error! The operator / doesn’t work for the string (str) type. That’s probably for the best - I would hate to see the mess from dividing one instructor by another!

**Quotes within Quotes**

Using quotation marks to define strings presents a problem, how do we define a string that has quotation marks in it? This code does not work because the string itself includes a quotation:

In [41]:
pet_halibut = "Why should I be tarred with the epithet "loony" merely because I have a pet halibut?"

SyntaxError: ignored

In [0]:
pet_halibut = 'Why should I be tarred with the epithet "loony" merely because I have a pet halibut?'

You can use either type of quote to define strings. Sometimes though you'll need to define a string that includes both single and double quotes. What then? In that case you can use a backslash, \, to escape quotes.

In [45]:
salesman = '"I think you\'re an encyclopaedia salesman"'
print(salesman)

"I think you're an encyclopaedia salesman"

Here the string is delimited by single quotes. The single quote within the string is preceded by a backslash so that Python knows that it should be interpreted as part of the string rather than the quote that ends the string.

**Quiz: Write a Server Log Message**

In this programming quiz, you’re going to use what you’ve learned about strings to write a logging message for a server.

You’ll be provided with example data for a user, the time of their visit and the site they accessed. You should use the variables provided and the techniques you’ve learned to print a log message like this one (with the username, url, and timestamp replaced with values from the appropriate variables):

`Yogesh accessed the site http://petshop.com/pets/reptiles/pythons at 16:20.`

Use the Test Run button to see your results as you work on coding this piece by piece.

In [47]:
username = "Kinari"
timestamp = "04:50"
url = "http://petshop.com/pets/mammals/cats"

# TODO: print a log message incorporating the strings above.
# The message should be use the same format as this one:
# "Yogesh accessed the site http://petshop.com/pets/reptiles/pythons at 16:20."


message = username + " accessed the site " + url + " at " + timestamp + "."
print(message)

Kinari accessed the site http://petshop.com/pets/mammals/cats at 04:50.

We've already been using one of Python's built-in functions, `print`. Another useful built-in function is `len`. The `len` function computes the length in characters of strings passed into it like this:

In [48]:
udacity_length = len("Udacity")
print(udacity_length)

7

**Quiz: len**

Use string concatenation and the `len` function to find the length of Charlie’s full name. (Yes, she is unhappy with her parents’ choices…!) Store that length in the `name_length` variable. Don't forget that there are spaces in between the different parts of a name!

In [49]:
given_name = "Charlotte"
middle_names = "Hippopotamus"
family_name = "Turner"

name_length = len(given_name + middle_names + family_name) + 2 #todo: calculate how long this name is
print(name_length)
driving_licence_character_limit = 28
print(name_length <= driving_licence_character_limit)

29
False

In [50]:
len(234)

TypeError: ignored

Functions can only accept the inputs they're designed to handle. len isn't designed to accept numeric inputs.

**What Type Is This Object?**

We’ve talked a bit about types so far, and we’ve discussed four of them in total:

* int (integer, for whole numbers)
* float (for numbers that aren’t necessarily whole numbers)
* bool (boolean, for True and False values)
* str (string, for text)

In Python, every object you encounter will have a type. An object’s type defines which operators and functions will work on that object and how they work!

You can check the type of an object directly using the built-in function `type()`.

In [51]:
print(type(633))
print(type("633"))
print(type(633.0))

<class 'int'>
<class 'str'>
<class 'float'>

Making a string from a number:

In [52]:
house_number = 13
street_name = "The Crescent"
town_name = "Belmont"

print(type(house_number))
address = str(house_number) + " " + street_name + ", " + town_name
print(address)

<class 'int'>
13 The Crescent, Belmont

You can also build a number from a string:

In [53]:
grams_of_sugar = float("35.0")
print(grams_of_sugar)
print(type(grams_of_sugar))

35.0
<class 'float'>

**String Methods I**

So far we've seen two distinct ways to process data with Python. We've used operators like +, <= and = which process the two values on either side of the operator. We've also used functions like print and len. Functions are very similar to operators, in fact the only real difference is in how they look: function inputs are put in parentheses rather than being placed next to an operator, and functions have descriptive names rather than short symbols.

There is a third technique for operating on values: methods. Consider the `title` method:

In [54]:
print("charlotte hippopotamus turner".title())

Charlotte Hippopotamus Turner

In [55]:
full_name = "charlotte hippopotamus turner"
print(full_name.islower())

True

the `islower` method inspects the string object it has been called with. In this case the string object is "charlotte hippopotamus turner". `islower` then returns a bool that indicates whether the string object consists of lowercase letters.

You can learn more about strings and string methods by looking at the string method documentation at https://docs.python.org/3/library/stdtypes.html#string-methods. You will find that the documentation is one of the most valuable resources for writing code, and not only when it comes to strings or writing code in Python! By reading and searching the documentation you can learn about data types and built in functions as well as how to use them.

Give it a try now! Look up a few string methods (using the link above) and try them out in the programming quiz below (using the Test Run button).

**The .count method**

You've probably noticed that when we call the `islower` and `title` methods we use parentheses, but we haven't put anything in them like we did when calling functions. This isn't because methods don't take arguments though, the methods so far simply don't require arguments. Let's try a method that does take arguments, `count`.

In [56]:
x = "One fish, two fish, red fish, blue fish.".count('fish')
print(x)

4

Here, the `count` method returns how many times the substring "fish" occurs in the string.

**Quiz: Vowel Count**

Use the count method to determine how many vowels are in the string `prophecy`. Store this count in the `vowel_count` variable. Note: the vowels are a, e, i, o and u. Hint: You may want to call the `count` method multiple times, and increment `vowel_count` multiple times.

In [59]:
prophecy = "And there shall in that time be rumours of things going astray, and there will be a great confusion as to where things really are, and nobody will really know where lieth those little things with the sort of raffia work base, that has an attachment…at this time, a friend shall lose his friends’s hammer and the young shall not know where lieth the things possessed by their fathers that their fathers put there only just the night before around eight o’clock…"

vowel_count = 0

# TODO: set the value of vowel_count to be the number of vowels in prophecy


# This is my vowel counting code:

vowel_count += prophecy.count('a')
vowel_count += prophecy.count('A')
vowel_count += prophecy.count('e')
vowel_count += prophecy.count('E')
vowel_count += prophecy.count('i')
vowel_count += prophecy.count('I')
vowel_count += prophecy.count('o')
vowel_count += prophecy.count('O')
vowel_count += prophecy.count('u')
vowel_count += prophecy.count('U')

'''
Looking at this first attempt, I think I can make it better. Counting 
both lower-case 'a' and upper-case 'A', seems unnecessary. I'll convert 
everything to lower-case, and then I only need to count each vowel once!
'''

vowel_count = 0
lower_prophecy = prophecy.lower()
vowel_count += lower_prophecy.count('a')
vowel_count += lower_prophecy.count('e')
vowel_count += lower_prophecy.count('i')
vowel_count += lower_prophecy.count('o')
vowel_count += lower_prophecy.count('u')
print(vowel_count)

128

**String Method Documentation**

The string method documentation is at https://docs.python.org/3/library/stdtypes.html#string-methods

**String Formatting**

One particularly useful string method is `format`. The `format` method is used to construct strings by inserting values into template strings. Consider this example for generating log messages for a hypothetical web server.

In [64]:
from datetime import datetime
user_ip = '208.94.117.90'
url = '/bears/koala'
now = datetime.now().time()


log_message = "IP address {} accessed {} at {}".format(user_ip, url, now)
print(log_message)

IP address 208.94.117.90 accessed /bears/koala at 08:17:15.673332

You can pass any type into the format method. format will convert values into strings as needed.

**Quiz: Simplify Code with String Formatting**

The code in this quiz generates weather report alerts. The original programmer used string concatenation to assemble the alerts though, which resulted in some hard to read code. Rewrite the code using the `format` method. Your new code should produce the same string as the old code you're replacing.

In [66]:
city = "Seoul"
high_temperature = 18
low_temperature = 9
temperature_unit = "degrees Celsius"
weather_conditions = "light rain"

#todo rewrite this line to use the format method rather than string concatenation
#alert = "Today's forecast for " + city + ": The temperature will range from " + str(low_temperature) + " to " + str(high_temperature) + " " + temperature_unit + ". Conditions will be " + weather_conditions + "."

alert = "Today's forecast for {}: The temperature will range from {} to {} {}. Conditions will be {}.".format(city, low_temperature, high_temperature, temperature_unit, weather_conditions)
# print the alert
print(alert)

Today's forecast for Seoul: The temperature will range from 9 to 18 degrees Celsius. Conditions will be light rain.